* {
  box-sizing: border-box;
}

body {
  background-color: #484848;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 31.25vw;
}
.square{
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #b9b9b9;
  margin: 2px;
  box-shadow: 0 0 2px rgb(119, 119, 119);
  transition: 2s ease-in-out;
}
.square:hover{
  transition-duration: 0s;
}


